<%- include('partials/header.ejs') %>
<h1>List of Current Drivers</h1>
<h4>
    <div class="row">
        <div class="column"id="data"id="data"></div>
        <div class="column"id="data"></div>
        <div class="column"id="data">ID:</div>
        <div class="column"id="data">ETA:</div>
        <div class="column"id="data">First Name:</div>
        <div class="column"id="data">Last Name:</div>
        <div class="column"id="data">Produce:</div>
        <div class="column"id="data">Phone Number:</div>
        <div class="column"id="data">Plate Number:</div>
        <div class="column"id="data">Dock Number:</div>
    </div>
    <div class="row" id="data">
        <% driverList.forEach(function(driver){  %>
            <div class="column"id="data">[<a href="/updateDock?driver_id=<%= driver.driver_id %>">UPDATE</a>]</div>
            <div class="column"id="data"> [<a onclick="deleteConfirm()" class="removeDriver" href="/deleteDriver?name=<%= driver.driver_id %>">DELETE</a>]</div>
            <div class="column"id="data"><%= driver.driver_id %></div>
            <div class="column"id="data"><%= driver.duration%></div>
            <div class="column"id="data"><%= driver.first_name%></div>
            <div class="column"id="data"><%= driver.last_name%></div>
            <div class="column"id="data"><%= driver.produce_item%></div>
            <div class="column"id="data"><%= driver.phone_number%></div>
            <div class="column"id="data"><%= driver.license_plate%></div>
            <div class="column"id="data"><%= driver.dock%></div>
            <br>
        <% }) %>
    </div>
</h4>
<form action="/logout">
    <button> Logout </button>
</form>
<script>
    function deleteConfirm() {
        if (!confirm("Delete Driver?")) {
            event.preventDefault(); //prevents default behavior of the links
        }
    }
</script>
