<%- include('partials/header.ejs') %>

<script>
    function deleteConfirm() {
        if (!confirm("Delete Driver?")) {
            event.preventDefault(); //prevents default behavior of the links
        }
    }
</script>

<body>

<h1>List of Current Drivers</h1>
<% driverList.forEach(function(driver){  %>

    [<a onclick="deleteConfirm()" class="removeDriver" href="/deleteDriver?name=<%= driver.driver_id %>">DELETE</a>]

    <%= driver.driver_id %>
    <%= driver.first_name%>
    <%= driver.last_name%>
    <%= driver.produce_item%>
    <%= driver.phone_number%>
    <%= driver.license_plate%>



<br>



<% }) %>

</body>
</html>