<%- include('partials/header.ejs') %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/styles.css"/>

<body>

<h2>Incoming Drivers</h2>
<% driverList.forEach(function(driver){  %>
    <%= driver.driver_id %>
    <%= driver.first_name%>
    <%= driver.last_name%>
    <%= driver.produce_item%>
    <%= driver.phone_number%>
    <%= driver.license_plate%>
    <%= driver.driver_location%>
    <br>
<% }) %>
<a href="/home">Logout</a>
</body>
</html>